@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="row justify-content-center my-4">
        <div class="col-10">
            <img src="https://www.publicdomainpictures.net/pictures/280000/velka/not-found-image15383864787lu.jpg" alt="Alternative image" class="img-thumbnail mb-3">
            <div class="text-left h4">
                <p>Oops, better check that URL. Page was not found.</p>
                <p>Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page.</p>
            </div>
        </div>
    </div>
</div>
