@model HouseViewModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <!-- Title Field -->
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Title...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>

            <!-- Address Field -->
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" placeholder="Address...">
                <span asp-validation-for="Address" class="small text-danger"></span>
            </div>

            <!-- Description Field -->
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Two bedrooms..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>

            <!-- Image URL Field -->
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Your fine URL here...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>

            <!-- Price Per Month Field -->
            <div class="form-group">
                <label asp-for="PricePerMounth"></label>
                <input asp-for="PricePerMounth" class="form-control">
                <span asp-validation-for="PricePerMounth" class="small text-danger"></span>
            </div>

            <!-- Category ID Field -->
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>

            <!-- Submit Button -->
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
